.fondo-personalizado{
    background-image: url(imagenes/Fondo.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-header{
  max-width: 600px !important;
  min-width: 200px !important;
  height: auto;
}

.btn-custom{
    background-color: rgb(255, 255, 255) !important; 
    color: #311745 !important;

}

.btn-custom:hover {
  background-color: #562A7E !important;
  color: white !important;
}

.nav-link{
    color: white !important;
    text-shadow: 2px 2px 4px #351454;
}

.nav-link:hover{
    color: #311745 !important;
}

.nav-item{
    font-size: 1.2rem !important;
}

.titulo{
    font-size: 2.4rem;
    color: #311745 !important;
    text-shadow: 2px 2px 4px #60506f;
}

h2{
    color: #311745 !important;
    text-shadow: 2px 2px 4px #bfafbc;
}

h3{
    color: rgb(255, 255, 255) !important;
}

p{
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px 4px #87719d;
}

.encabezado{
    background-color: #87719d;
}

.square-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid-container:hover img{
    filter: blur(4px);
    transform: scale(1);
}

.grid-container img:hover {
    transform: scale(1.1);
    filter: blur(0);
    z-index: 2;
    position: relative;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.footer-color{
    background-color: #311745;
}

.fondo-uno{
    background-color: #562A7E;
}


@media (max-width: 1024px) {
    .foto-pc {
        display: none !important;
    }

    .square-image{
        max-width: 70% !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 72px !important;
    }

    p {
        font-size: 32px !important;
    }

}

@media (min-width: 1024px) {

    h1 {
        font-size: 60px !important;
    }

    p {
        font-size: 26px !important;
    }

    .nav-item{
        font-size: 1.4rem !important;
    }

    .btn-custom{
        background-color: rgb(255, 255, 255) !important; 
        color: #311745 !important;
        font-size: 2rem;
        padding: 0.8rem 1.2rem !important
    }

    .vid {
        width: 60%; 
        max-width: 600px;
        margin: 0 auto;
    }

    .fondo-personalizado {
        height: 100vh !important;
    }

}