/* Estilos de textos */
h2{
    color: $color-primario !important;
    text-shadow: 2px 2px 4px #bfafbc;
}

a {
    text-decoration: none !important;
}

h3{
    color: $color-cinco !important;
}

p{
    color: $color-cinco !important;
}

.titulo{
    font-size: 2.4rem;
    color: $color-primario !important;
}



