// Estilos de Tratamientos

.tratamiento-rvs,
.tratamiento{
    @include flex-columna(16px, 16px);
    text-align: center;
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    gap: 25px;
    padding-top: 26px;
    padding-bottom: 26px;
    img{
        @extend %portrait-image;
        width: 90%;
        @extend .shadow-2;
    }

    .subti{
        color: $color-secundario !important;
    }
}